<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>bosch-artifactory</id>
            <username>xef1cng</username>
            <password>cmVmdGtuOjAxOjE3OTM2OTU1NzU6Z0E3RTZWaGJFdkZDR3VrZUdZanVMczFLNjQ0</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>bosch-artifactory</id>
            <mirrorOf>central</mirrorOf>
            <url>https://rb-artifactory.bosch.com:443/artifactory/maven-central-virtual/</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>bosch-artifactory</id>
            <repositories>
                <repository>
                    <id>bosch-artifactory</id>
                    <url>https://rb-artifactory.bosch.com:443/artifactory/maven-central-virtual/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>bosch-artifactory</activeProfile>
    </activeProfiles>

</settings>